<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="name">Bienvenide</h1>
    <p>A la app de juegos de mesa</p>
  </div>
  <ion-button expand="block" (click)="gotoMyTTG()">Ver juegos de mesa</ion-button>
  
</ion-content>
